language: ruby
rvm:
  - 2.7.2
before_install:
  - gem update bundler
install: bundle install --retry=3
cache:
  - bundler
  - yarn
services:
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - bin/rails db:migrate RAILS_ENV=test
  - cp config/database.yml.travis config/database.yml
