<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MonteCinema</h1>
    <p>
      Your reservation has been cancelled - You have not paid for reservation 
      30 minutes before seance,
      Reservation info:
      <%= @reservation %>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>MonteCinema</p>
  </body>
</html>