<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MonteCinema</h1>
    <p>
      You have successfully created reservation,
      Reservation info:
      Date: <%= @reservation %>
      Seat: <%= @tickets %>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>MonteCinema</p>
  </body>
</html>